* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Start_Navbar */
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  padding-bottom: 5px;
  background: white;
  border-bottom: 1px solid #ca0265;
}

.link-home {
  text-decoration: none;
}

.logo-navbar {
  position: relative;
  left: 5px;
  top: 5px;
  text-decoration: none;
}

/* Kategori */
.kategori {
  position: absolute;
  top: 26px;
  left: 250px;
  width: 55px;
  font-size: 14px;
  color: black;
}

.btn-kategori {
  position: relative;
  right: 5px;
  background: none;
  font-size: 14px;
  border: none;
}

.dropdown-kategori {
  display: none;
  position: relative;
  width: 145px;
  top: 6px;
  background-color: white;
  border: 1px solid #ca0265;
  font-size: 14px;
}

.dropdown-kategori a {
  float: none;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-kategori a:hover {
  color: white;
  background-color: #ca0265;
}

.kategori:hover .dropdown-kategori {
  display: block;
}

/* Search */
.icon-search-navbar {
  position: relative;
  right: 358px;
  bottom: 14px;
}

input {
  position: relative;
  left: 120px;
  bottom: 16px;
  width: 450px;
  height: 28px;
  border: 1px solid #d3d3d3;
  outline: none;
  font-size: 14px;
  padding-left: 30px;
}

input:focus {
  border: 1px solid #ca0265;
}

/* Pesan */
.icon-pesan-navbar {
  position: relative;
  top: 8px;
}

.pesan {
  position: relative;
  left: 153px;
  bottom: 16px;
  text-decoration: none;
  font-size: 14px;
  color: black;
}

/* Notifikasi */
.icon-notifikasi-navbar {
  position: relative;
  top: 8px;
}

.notifikasi {
  position: relative;
  left: 163px;
  bottom: 16px;
  text-decoration: none;
  font-size: 14px;
  color: black;
}

/* Keranjang */
.icon-keranjang-navbar {
  position: relative;
  top: 8px;
}

.link-keranjang {
  position: relative;
  left: 173px;
  bottom: 16px;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

/* Profile */
.profile {
  position: absolute;
  left: 1162px;
  top: 20px;
  width: 143px;
  height: 28px;
  font-size: 14px;
}

.btn-profile {
  position: absolute;
  left: 28px;
  top: 5px;
  width: 115px;
  height: 17px;
  font-size: 14px;
  border: none;
  background: none;
}

.dropdown-profile {
  display: none;
  position: relative;
  width: 141px;
  background-color: white;
  border: 1px solid #ca0265;
}

.dropdown-profile a {
  float: none;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-profile a:hover {
  color: white;
  background-color: #ca0265;
}

.profile:hover .dropdown-profile {
  display: block;
}
/* End_Navbar */
.main {
  position: relative;
  top: 72px;
  width: 1325px;
  height: 547px;
}

.list-profile {
  position: relative;
  width: 250px;
  height: 545px;
  background: #d3d3d3;
  border-right: 1px solid #ca0265;
}
