body {
  background-color: #d3d3d3;
  font-family: "Roboto", sans-serif;
}

.kotak-form {
  width: 500px;
  height: 450px;
  margin: 82px auto;
  background-color: #ffffff;
  border: 1px solid #ca0265;
}

.logo {
  text-align: center;
  position: relative;
  top: 20px;
}

.header {
  position: relative;
  top: 25px;
}

h1 {
  text-align: center;
}

.form {
  position: relative;
  height: 140px;
  top: 50px;
}

.username {
  position: relative;
  height: 60px;
}
.password {
  position: relative;
  height: 60px;
  top: 20px;
}

.text-username,
.text-password {
  position: relative;
  left: 86px;
  font-size: 16px;
}

.kotak-username,
.kotak-password {
  position: relative;
  top: 5px;
  text-align: center;
}

.kotak-input-username,
.kotak-input-password {
  width: 320px;
  height: 30px;
  font-size: 16px;
}

.button-login {
  position: relative;
  top: 91px;
  text-align: center;
}

.kotak-login {
  background-color: #ca0265;
  color: #ffffff;
  display: inline-block;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
